<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Uvarovite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD9A23FD1F80437500BA1038</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD9A24111F80437500BA1038</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD9A241C1F80437500BA1038</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
